.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* -------------Home Page---------------- */


.home img{
  height: 35vh;
  width: 80%;
}

/* -------------Home Page---------------- */
/* -------------About Page---------------- */

.cards{
  padding: 0px 0px !important;
}

.cards img{
  width: max-content;
  height: 400px;
}

.card-description{
  text-align: left;
}

/* -------------About Page---------------- */
/* -------------Contact Page---------------- */

form{
  /* border: 1px solid red; */
  box-shadow:  2px 2px 5px #333333, -2px -2px 5px #888888;
}

form input{
  height: 50px;
  border-radius: 10px;
}

.Contact label{
  display: flex;
  justify-content: left;
  font-weight: 500;
  color: white;
}

.errors{
  color: red;
}

.forms-bg{
  background-image: url(assets/images/contact-img.jpg);

}
/* -------------Contact Page---------------- */
/* -------------Menu Page---------------- */
.menu img{
  width: 100%;
}


/* -------------Menu Page---------------- */
/* -------------Login Page---------------- */

.login label{
  display: flex;
  justify-content: left;
  font-weight: 500;
  color: black;
}

/* -------------Login Page---------------- */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
